<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Courses and Treatments</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" type="text/css" />

    <!-- Added 2021-06-28 because it was missing in https://www.youtube.com/watch?v=ITsmlr8UbGU -->
    <!-- FONT AWESOME ADDED TO ALLOW FOR DROPDOWN LIST IN MENU AND TO ALLOW COUNTRY ICONS -->
    <!-- jQuery.UI.Widgets.Datepicker ADDED TO ALLOW FOR A DATE PICKER POPUP
        https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions
        /using-the-html5-and-jquery-ui-datepicker-popup-calendar-with-aspnet-mvc
        /using-the-html5-and-jquery-ui-datepicker-popup-calendar-with-aspnet-mvc-part-4 
    -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

@inject LanguageService language

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@language.Getkey("welcome")</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">@language.Getkey("contact")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Access">@language.Getkey("access")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Quotes">@language.Getkey("quotes")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Treatments">@language.Getkey("treatments")</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>

                <div class="navbar-wrapper">
                    <div class="sl-nav">
                        <!-- added BEGIN 2021-06-28 -->
                        <button type="button" class="dropdownbutton">
                            <!-- added END 2021-06-28 -->
                            <b>Language:</b>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                        <div class="triangle">
                            <ul class="language">
                                <li><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-GB" class="nav-link"><span class="flag-icon flag-icon-gb"></span> English</a></li>
                                <li><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="sv-SE" class="nav-link"><span class="flag-icon flag-icon-sv"></span> Svenska</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Dropdown arrow already exists https://www.youtube.com/watch?v=3C2kTUJlVSc  -->
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - greencoaching.net - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePickerReady.js")" type="text/javascript"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
