@{
    ViewData["Title"] = "Treatments";
}
<div class="text-center">
    <h1 class="display-4">@language.Getkey("treatments")</h1>
</div>
@inject LanguageService language

<p>För priser se längst ned på sidan <a class="text-blue" asp-area="" asp-controller="Home" asp-action="Contact">@language.Getkey("contact")</a>.</p>


<p align="center"><font size="3" face="Comic Sans MS">:::ACCESS MTVSS:::</font></p>
<p class="text-dark" asp-area="" asp-controller="CoursesAndTreatments">@language.Getkey("accessMTVSS")</p>
<br />
<p align="center">
    @language.Getkey("exciting")
    <a class="text-blue" asp-area="" asp-controller="CoursesAndTreatments" asp-action="Create">@language.Getkey("bookTreatment")</a>
</p>
<br />

<a name="AccessBars"></a>
<a name="AccessBars"><p align="center"><font size="3" face="Comic Sans MS">:::ACCESS BARS:::</font></p></a>
@language.Getkey("accessBars")
<br />
<br />
@language.Getkey("whatHappened")
<br />
<em><u>M.T.:</u> @language.Getkey("mtReview")</em>
<br />
<br />
<p align="center">
    Låter det spännande? Vad ska till för att du bokar en tid? <a href="../CoursesAndTreatments/Index.cshtml">Access Bars tidsbokning</a>.
    <!--    <a class="text-blue" asp-area="" asp-controller="CoursesAndTreatments" asp-action="Index">@language.Getkey("Courses And Treatments")</a>. -->
    <a class="text-blue" asp-area="" asp-controller="CoursesAndTreatments" asp-action="Create">@language.Getkey("Book a course")</a>
    <br />
    @* <a class="text-blue" asp-area="" asp-controller="CoursesAndTreatments" asp-action="CreateCourse">@language.Getkey("Book a course")</a> *@
</p>
<br />
<br />

<p align="center">
    <img src="~/Pics/icelake.jpg" width="600" height="450" alt="Hoppas ditt hjärta berörs liksom mitt." /> <br />
</p>

<p align="center"><font size="3" face="Comic Sans MS">:::ENERGY SYNTHESIS OF BEING:::</font></p>
    I denna behandling följer terapeuten energierna och varvar beröring, healing samt ställer frågor till klienten.  Avsikten är att öka klientens egen medvetenhet om det som skulle behöva återställa balansen.  Det är egentligen bara klientens egna begränsningar som är de enda hindren.  Dvs vill klienten bli bättre kan inte heller terapeuten stå ivägen för hur bra klienten kan bli.  Denna behandling är en kombination av allt som är det bästa inom Access inklusive de 2 ovanstående behandlingarna.  Är du redo att ta steget ut ur Matrisen (The Matrix)?  Skulle du vilja veta vad som finns på andra sidan dina begränsningar?  Vad krävs för att du ska våga ta steget in i din fulla potential?
<br />
<br />
    Vad hände för dig under behandlingen och efter du fått en Energy Synthesis of Being:
<br />
<em><u>Eva:</u> För min del upplevde jag så mycket positiv och läkande kraft. Och krafter var där. Jag ljudade kanske inte så mycket som min syster gjorde, men det var mer som om jag "sög in" i hela mitt väsen energi och läkning och understanding från mycket höga energisystem out there. Sen så drömde jag också ungefär så här på natten: Det var en grupp unga kvinnor som ville mig något, en av dom kom mig mycket nära. Jag tog mig till henne på ett kraftfullt sätt. Och sen upptäckte jag att hon hade skurit mig med en kniv! Då halvvaknade jag och sa:How are You? Ett flertal gånger. Sen dess är både hennes och min vilja att hellre skada mig själv än utsätta andra för obehagligheter borta! Jag känner mig sedan dess mycket lättare och starkare på alla sätt och på alla nivåer. Och jag känner förresten till allt och alla så starkt sen din behandling.  Plus att jag "känner in" bättre förståelse för människors trauman and dramas. Whoever they are. Och Jesper, det här har jag väntat på i hela livet och tidigare att få bli förlöst ifrån.  Så wow it fucking works! Så det var en underbar kväll.  Förresten katten han ville inte åka hem till min dotter dagen efter så han var nog mycket tillfreds han också. Torsten fick jaga honom i hela huset innan han kom in i sin bur, och precis innan han kom i buren bet han Torsten i handen!</em>
<br />
<em>
    <u>K.S. Malmö 2012:</u> Tack Jesper för den fantastiska healingen.  Med din metod och i total närvaro hjälpte du mig att släppa bekymmer efter bekymmer tills dess att jag enbart upplevde frid, ljus och oändlighet.  Den läkande, ljusa energin vibrerade i hela min kropp.  Här och nu.  Total
    tillfredställelse och stillhet.  Jag kan fortfarande återkalla känslan.  Den är sann.  Vi ses igen.
</em>
<br />
<br />


<p align="center"><font size="3" face="Comic Sans MS">:::ÄNGLAMASSAGE:::</font></p>
    Här får ni ett ganska unikt tillfälle att prova på en metod som jag själv tycker djupt om.  Som manlig Änglamassör är jag ganska ensam om att ge denna behandling i Sverige.  En änglamassage påbörjas genom att jag som terapeut försöker bli ett med universum och tillkalla änglarnas hjälp.  Eteriska oljor kan ingå i massagen och de kan ha en djupverkande effekt på dig som patient som inte upplevs direkt utan kan upplevas efteråt.  Eftersom massagen berör hela kroppen (helkroppsmassage) tar den ganska lång tid.  Med healing tar den normalt lite mer än 2 timmar.  Det är viktigt att inte efter massagen stressa iväg till något speciellt efteråt.  Utan det är viktigt att ta det lugnt, landa, och även dricka minst ett glas vatten.  Effekterna under massagen och direkt efter massagen kan vara djupgående vila, inträde i healingmedvetandet (dvs ett tillstånd där du känner dig varken vaken eller sovande), verklig avslappning och även en transformation av ditt sinne och din kropp.
<br />
<br />

<p align="center">
    <img src="icelake.jpg" width="600" height="450" alt="Hoppas ditt hjärta berörs liksom mitt." /> <br />


<p align="center"><font size="3" face="Comic Sans MS">:::RECONNECTIVE HEALING:::</font></p>
    För dig som inte är bekant med Dr Eric Pearl så innebär Reconnective Healing att terapeuten ger dig healing från topp till tå och på det sätt som du behöver bäst.  Dvs det finns en intelligens som hjälper till vid behandlingen som inte tar patientens intellektuella behov i beaktande utan ger dig som patient det du behöver som allra bäst JUST NU.  Om du kommer till en behandling för att du har ont i ryggen (vanligt förekommande) så kan du istället få hjälp med helt andra problem.  Behandlingen är helt utan beröring, tar mindre än 1 timme och avslutas med frågor om hur behandlingen kändes.  Under behandlingen är det viktigt att du är medveten om vad som händer med dig.  Det är nämligen en del av läkningsprocessen och den intensifieras om du känner av vad som händer i hela din kropp.  Somnar du under behandlingen, vilket inte är ovanligt är det för att du behöver det som allra mest just nu.  Så jag rekommenderar dig att vara utsövd då du kommer på behandling.
<br />
<br />
    De effekter som är vanligt förekommande är avslappning, reducering av stressnivå, oförklarliga rörelser i kroppen, insikter om ditt liv, att känna av kyla eller värme, känslor kan komma upp, samt kanske det viktigaste läkande på olika plan. Läkandet fortsätter även efter behandlingarna och kan ske i omgångar långt långt senare.  Som behandlare så är jag bara redskapet för den största intelligensen och ska inte alls på egen hand försöka blanda mig i vad som händer dig som patient.  Detta kanske du tycker låter märkligt men om terapeuten använder sin egen energi till att stabilisera dig så kommer terapeuten förr eller senare att förlora för mycket av sin livskraft.
<br />
<br />
    Vad hände för dig under behandlingen och efter du fått Reconnective Healing:
<br />
<em>
    <u>Hanna:</u> Under behandlingen kändes det som att mitt huvud vreds först till vänster och sedan till höger.  I slutet kändes det också som att bänken lutade kraftigt åt vänster.  Det fick mig att känna mig sjösjuk men jag kan inte beskylla Jesper för det.  För det var min egen tolkning som jag lade till behandlingen.   <br />
    <u>Britt-Marie:</u> Det pulserade kraftigt runt käkarna.  Jag kände också ett lätt tryck över nedre delen av bröstkorgen samt att det kändes som att hälarna trycktes ner i britsen.  Även i armarna och händerna har det pulserat en hel del.  Från början kändes det som att jag fick nålar genom vänstra axeln.  Alldeles direkt efter behandlingen kändes det som att käken och armarna var helt borta.  Det märkliga är att inget av det jag nämnt har varit obehagligt.  <br />
</em>
<br />
<br />


<p align="center"><font size="3" face="Comic Sans MS">:::THE RECONNECTION:::</font></p>
    Våran kropp omges av meridianer eller akupunkturlinjer och de var kopplade till ett nät av energilinjer som omger jorden.  Dessa linjerna var menade att sätta oss i kontakt med universum samt ett större nät av linjer.  Energi, information och ljus möjliggör kommunikation mellan universum och mänskligheten.  Vår naturliga kontakt med universum, dessa linjerna har gått förlorad under tidens gång och därmed stannade vår utveckling upp.  The Reconnection, som bara utförs en gång i livet, för in "nya" axitonala linjer som sätter oss i kontakt med en mer kraftfull och utvecklad nivå än dagens nivå.  I The Reconnection aktiveras dessa nya linjer.  En återinkoppling av DNA-strängar sker i denna aktivering och sätter igång ett utbyte av ljus och information.  The Reconnection hjälper dig att komma i harmoni med universum, så att du lättare hittare din väg i livet och ditt livssyfte.  Den väcker din stora potential och ger dig en kraftfull kontakt med allt som är, med källan till all healing.
<br />
<br />
    Vad hände för dig under behandlingen och efter du fått The Reconnection:
<br />
<em>
    <u>Emma:</u> Under min reconnection upplevde jag mycket starka energier.  Det satte igång omedelbart när behandlingen började.  Olika färger i blått, lila, turkos och rött kom över mig.  Under hela behandlingen värkte halva armen och handen.  Jag fick en gudomlig uppenbarelse i form av Buddha.  När jag ställde frågor till uppenbarelsen fick jag svar, så övertygande att inga tvivel finns.  En total frid och stillhet infann sig samt att hjärtat öppnade sig.  I detta starka möte försvann alla rädslor, helt underbart.  Tack så jättemycket för denna behandling.  Nu ska jag boka in mig för nästa kurs/workshop i The Reconnection så att jag kan dela med mig av denna erfarenhet.<br />
    <u>Ulrika:</u> Kan berätta att ryckningarna i benen fortsätter. När jag lagt mig på kvällen kör jag yogaavslappningen (ligger på rygg och scannar igenom kroppen, nerifrån fötterna och upp) och jag hinner inte klart förrän jag känner att nu har healingen kommit igång (eller var det nu är som händer). Igår var det extra kraftigt. Det rykte inte bara i benen utan i bålen och jag kände av energier i armarna. Kunde pekat ut bestämda punkter på kroppen som det känns som om energin kommer in igenom, alternativt aktiveras extra kraftigt. Lite häftig upplevelse måste jag säga. Låg och tänkte på att nu laddas och repararas jag =) Efter en timme, tycker jag det räcker och lägger mig på sidan. Efter en stund minskar eller slutar det.<br />
    <u>Marcus:</u> Kändes som att kroppen gungade fram och tillbaka, och jag kunde inte riktigt styra det (halsen och mitten av kroppen, samt fötterna).  Skakade så kraftigt att bröstet lyfte sig från bänken.  Det kom ett kraftigt ljus, både mörkt och ljuslila.  Hörde röster och fick till mig ord som pratade om ljus.  Samtidigt som Jesper gjorde TR vid huvudet kändes det som att var sin sida om kroppen nere vid benen stod 2 väsen och hjälpte till.  Såg också bilder, en väg och en liten bäck, en bäck som rör sig framåt (dvs ngt symboliskt).  Vägen ligger framför och bara följ flödet.  I symboliken ingår att säga ja till möjligheter, att våga och att acceptera det som händer.  Nu efteråt känns det otroligt bra, väldigt bra.  Otroligt harmonisk, glad, lugn o mjuk i kroppen.  Här men ändå långt borta.
</em>
<br />
<br />

<p align="center">
    <img src="Vassfaret_skymning.JPG" width="600" height="450" alt="Hoppas ditt hjärta berörs liksom mitt." /> <br />

<p align="center"><font size="3" face="Comic Sans MS">:::COACHING:::</font></p>
    För dig som vill få coaching för att ta reda på vad som är viktigast för dig kommer denna behandling att se till att du svarar så mycket som möjligt på dina egna frågor.  Under samtalet  kommer terapeuten i gengäld ställa frågor till dig för att guida dig.  Samt även ge dig svar så gott det går.  Terapeuten kan komma att kännas som en stöttepelare men även som ett bollplank som är objektivt.  Dvs det kan ibland bli tal om frågor som kan kännas kritiska för att du verkligen ska tänka till om vilken riktning i livet du vill ta.  Tanken är att det kan vara jobbigt för stunden att inse vissa saker men att i slutändan förstå det stora hela.  Att inte bara tänka egoistiskt eller ens en gång på familjen, utan allt som händer runt din bekantskapskrets.
<br />
<br />
<br />

<p align="center"><font size="3" face="Comic Sans MS">:::EFT - EMOTIONAL FREEDOM TECHNIQUE (behandlingen har utgått):::</font></p>
    Emotional Freedom Technique står för Känslomässig frihetsteknik och syftar till att genomföra en transformation i kroppen genom att knacka på triggerpunkter på kroppen.  Dessa punkter står i direkt kontakt med meridiansystemet i kroppen och när punkterna och meridiansystemet aktiveras frigörs energi.  Energin kan sedan lösa upp känslomässiga såväl som fysiska blockeringar i kroppen.  Denna teknik är till ungefär 70% framgångsrik när det gäller alla typer av problem.  De problem som finns av fysisk karaktär kan dock ta längre tid att beta sig igenom eftersom de är en manifestation av långvariga känslomässiga problem.  Det kommer också krävas mycket tålamod för att ta sig igenom denna behandlingsform.  Vid enstaka tillfällen kan problemen dock försvinna helt på kort tid, dvs mindre än en session.
<br />
<br />
<br />

<p align="center"><font size="3" face="Comic Sans MS">:::RESONANSBEHANDLING (behandlingen har utgått):::</font></p>
    Resonansbehandling är en teknik ganska ny inom energibehandlingen.  Tanken med behandlingen är att patienten deltar väldigt mycket genom att vara röntgenutrustning åt terapeuten.  Terapeuten kan ställa en fråga som "Hur känns det?" och patienten svarar kanske att det är kallt i knäet eller att det pirrar i knäet.  På ett svar från patienten kan terapeuten välja att fortsätta där han/hon är eller gå vidare till det området som patienten nyss nämnde.  Terapeuten jobbar med patienten genom att använda fingrarna eller händerna.  Det kan verka ologiskt men allt går ut på att se till att energiflödet är fritt i kroppen.
<br />
<br />
    Med hjälp av vågrörelser så små att patienten knappt känner dem tränger vågorna igenom alla blockeringar och löser upp dem.  När en blockering är upplöst fortsätter behandlingen uppåt i kroppen.  Behandlingen påbörjas i vänster fot och går upp i kroppens vänstra sida och sedan vänder den för att gå tillbaka neråt längs kroppens högra sida.  Förutom patientens egna svar på om det känns något speciellt i kroppen kan terapeuten själv gå fram över kroppen genom att stanna vid de delar som är kalla, extra varma, hårda, för mjuka, torra, slemmiga etc.  Dvs allt som kan verka onormalt för terapeuten.  Som en konsekvens av att lösa upp energiblockeringarna i vår fysiska kropp kan känslor välla upp och få patienten att känna sig väldigt tillfreds.
<br />
<br />
<br />
